__pycache__/
log.txt
secrets_file.py
secrets_file.cpython-311.pyc
file_temp.xlsx
temp_name_all.db
temp_name.db
win-venv-311/
venv-36/
log_GoogleShop_all
temp/chromedriver.exe
new_venv/
geckodriver.log
log_GoogleShop_all.log
venv/
log_GoogleShop_all.log.*
temp/